@tailwind base;
@tailwind components;
@tailwind utilities;


.glass {
    background: linear-gradient(135deg, rgba(148, 163, 184, 0.3), rgba(148, 163, 184, 0.3));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}